* {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 30px;
}

body {
    font-family: sans-serif;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group label {
    cursor: pointer;
    padding-left: 10px;
}

.radio{
    cursor: pointer;
    appearance: nome;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: 2px solid turquoise;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;

}

.radio:before {
    position:absolute;
    height: 15px;
    width: 15px;
    background: turquoise;
    border-radius: 50%;
    opacity: 0;
    transition: all 600ms ease-in-out;
}

.radio:checked:before {
    opacity: 1;
}